body {
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
    height: auto"

}

.head_container {
    max-width: var(--max-width);
    margin: auto;
    padding-block: 8rem;
}

.content_container {
    width: 100%;
    padding-top: 2em;
    padding-bottom: 0%;
    padding-right: 1em;
    padding-left: 1em;
}


.carlos_image {
    position: relative;
    right: 100%;
    width: 100vh;
    height: 100vh;
}

.carlos {
    position: absolute;
    left: 50%;
    max-height: 100%;
    max-width: 100%;
    z-index: -1;
}


.swirl {
    position: absolute;
    object-fit: cover;
    left: 35%;
    top: -10%;
    max-height: 120%;
    max-width: 120%;
    z-index: 1;
}

.header_title {
    margin: 0;
    position: relative;
    top: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -1;
}

.gradient_container {
    position: absolute;
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 35%;
}

.gradient_divider {
    position: absolute;
    background-image: linear-gradient(rgb(66, 117, 74), #2c813900);
    width: 100%;
    height: 35%;
}

.greetings {
    font-size: 1.2em;
    margin: 0;
}