.head_container {
    max-width: var(--max-width);
    margin: auto;
    padding-block: 8rem;
}

.carlos {
    position: relative;
    left: 55%;
    width: 512px;
    height: 512px;
}

.swirl1 {
    position: absolute;
    left: 60%;
    z-index: 1;
    width: 640px;
    height: 640px;
}