.rubik-bold {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.title-fs {
    font-size: 6.5em;
}

.lg-fs {
    font-size: 3em;
}

.md-fs {
    font-size: 1.25em;
}

.small-fs {
    font-size: 1em;
}

.text-green {
    color: rgb(52, 66, 54);
}